<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Ingresa a tu cuenta</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/public/css/normalize.css" />
        <script
          src="https://kit.fontawesome.com/fd3fd2bc99.js"
          crossorigin="anonymous"
        ></script>
        <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
          href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
          rel="stylesheet"
        />
        <link rel="stylesheet" href="/css/login-styles.css" />
    </head>
    <body>
        <header>
          
        </header>
        <main>
            <form action="/login" method="POST">
                <div>
                    <label for="user"></label>
                    <input type="text" name="user" id="user" placeholder="Nombre de usuario">
                </div>
                <div>
                    <label for="password"></label>
                    <input type="password"name="password" id="password" placeholder="Elegí tu contraseña">
                </div>
                <button type="submit" class="create-form__form-control--button" placeholder="enviar">Enviar</button>
            </form>
        </main>
        <footer>
          
        </footer>
    </body>
</html>

