* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #000000;
}

.body__reset {
  font-family: "Roboto", sans-serif;
  background-color: #ebebeb;
}

.main-header {
  background-color: #eac926;
  font-size: 12px;
}
.main-header__top-bar {
  width: 100%;
}

.main-header__top-bar--logo {
  padding: 10px;
  width: 30%;
}

.main-header__nav {
  display: none;
}

.main-header__nav p {
  display: inline;
}

.main-header__search-bar {
  height: 1.5rem;
}

.main-header__search-bar--input {
  height: inherit;
  border: solid 1px;
}

.main-header__search-bar--button {
  display: inline-block;
  width: 1.5rem;
  height: inherit;
  padding: 1px;
  background-color: #ebebeb;
  border: solid 1px;
}

.header__create-form {
  padding: 15px;
}

.create-form__form-control {
  margin-bottom: 15px;

}

.create-form__form-control label {
  margin-bottom: 5px;
  font-style: italic;
  display: block;
}

 .create-form__form-control--input {
  width: 100%;
  padding: 8px;
 }

 .create-form__form-control--button {
  background-color: #39b54a;
  border: none;
  font-size: 20px;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
 }

.main__banner {
  width: 100vw;
 }

.main__banner--img {
  width: inherit;
 }

.main__container {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  width: 90vw;
  text-align: start;
  margin: auto;
}

.main__title {
  font-size: 24px;
  padding: 15px 0;
  color: #666;
}

.main__article {
  margin-bottom: 10px;
  background-color: #fff;
}

.main__article--img {
  width: 100%;
}

.main-header__top-bar--icon-dand {
  padding: 1px;
}

.main-header__top-bar--title {
  padding: 20px 0;
  text-align: center;
}

.main__article--product-desc-box {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  border-top: #ebebeb 1px solid;
}

.main__article--product-desc-box > .product-delivery-icon {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #fff;
  color: #39b54a;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
}

.main-header__button-burger {
  display: flex;
  justify-content: center;
  margin: auto;
  padding-bottom: 15px;
  background-color: transparent;
  border: none;
}

.main-header__button-burger--box-icon {
  display: inherit;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  background-color: #1259c3;
  color: white;
  border-radius: 5px;
}

.main__article--price {
  font-size: 18px;
}

.main__article--off {
  color: #39b54a;
}

.main__article--description {
  display: none;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #666;
}

.main__article:hover {
  box-shadow: 0px 0px 10px rgb(10, 100, 100);
  .main__article--description {
    display: block;
  };
}


.main__article--description .main__article--off {
  font-size: 16px;
}

.footer {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  align-items: center;
  background-color: #fff;
}

.footer__article {
  text-align: center;
  margin-bottom: 10px;
  width: 80%;
}

.footer__article h3 {
  color: #666;
}

.footer__article p {
  color: #666;
}

 .footer__article--icon {
  width: 2em;
  height: 2em;
  color: #1259c3;
 }

.footer__article--end {
  text-align: start;
  margin-bottom: 10px;
  align-self: flex-start;
}

.footer__article--end p {
  padding: 0 15px;
  color: #666;
}

/*-----------------------------------*/
@media (min-width: 361px){

  .main-header__nav {
    display: block;
  }

  .main__article{
    box-shadow: 0px 0px 10px rgb(10, 100, 100);
  }

  /*.main__article--description {
    display: block;
  }*/

  .main-header__button-burger {
    display: none;
  }


}

/*-----------------------------------*/
@media (min-width: 769px) {

}