* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body__reset {
  font-family: "Roboto", sans-serif;
}

.main-header {
  background-color: #eac926;
  font-size: 12px;
}

.main-header__logo {
  width: 25vh;
}

.main-header__search-bar--input {
  height: 2rem;
}

.main {
  font-size: 12px;
}

.main__title {
  font-size: 24px;
}

.main__article--price {
  font-size: 18px;
}

.main__article--off {
  font-size: 16px;
}

.main__article--description {
  font-size: 16px;
}

.footer {
  font-size: 12px;
}

.product-desc-box > .product-delivery-icon {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
}
